<div class="question-page">
  <h2><%= @question.title %></h2></br>
  <p><%= @question.body %></p>

  <% if @question.comments.any? %>
  <div class="comment-div">
    <% @question.comments.reverse.each do |comment| %>
      <p class="comment">

      <% if current_user == comment.commenter %>
        <a href="/comments/<%= comment.id %>/delete" class="delete">delete</a>
      <% end %>

        <%= comment.body %><br>
        <!-- fix datetime display -->

        <small class="posted-on">Posted
          <%= comment.time_since_creation %> by <a href="/users/<%=comment.commenter.id %>"><%=comment.commenter.username%></a>
        </small>

      </p>
      <% end %>
  </div>
  <% end %>

  <% if logged_in? %>
    <a href="/questions/<%= @question.id %>/comments/new">Comment</a>
    <% if @new_comment %>
      <form method="POST" action="/questions/<%= @question.id %>/comments">
        <input type="text" name="body" placeholder="Comment here...">
        <input type="submit" value="Save">
      </form>
    <% end %>
  <% end %>

   <h4>Answers</h4>
    <ul>
      <% @question.answers.each do |answer| %>
        <li>
          <div class='vote-data inline'>
              <form class="inline vote-buttons" action="/answers/<%=answer.id%>/votes" method="post">
                <input type="hidden" name="vote" value="1">
                <button name="upvote" class='thumbs'><i class="fa fa-thumbs-o-up"></i></button>
              </form>
                <%= answer.vote_value %>
              <form class="inline vote-buttons" action="/answers/<%=answer.id%>/votes" method="post">
                <input type="hidden" name="vote" value="-1">
                <button name="downvote" class='thumbs'><i class="fa fa-thumbs-o-down"></i></button>
              </form>
          </div>
          <div class = 'inline answer-bodies'>
            <p> -<%= answer.body %> </p>
            <small class='answer-data'><p> <%= answer.time_since_creation %> hours ago</p>
            <p> <%= answer.author.username %> |</p></small>
          </div>
            <% if current_user == answer.author %>
              <form action ="/answers/<%= answer.id %>" method='post' id='delete-button' class='inline'>
                <input type='hidden' name='_method' value='delete'>
                <input type='submit' value ='delete'>
              </form>
            <% end %>
        </li>
      <% end %>
    </ul>

  <% if logged_in? && current_user == @question.author %>
    <form>
      <input type="submit" value="Delete Question">
    </form>
  <% elsif logged_in? && current_user != @question.author %>
  <hr>
    <p>Submit answer:</p>
    <form action="/questions/<%= @question.id %>/answers" method="POST" class="new_answer_form">
      <textarea name="body" rows=10></textarea><br>
      <input type="submit" value="Submit Answer">
    </form>
  <% end %>
</div>
